plugins/**
types/**
!plugins/VsLayeredDisplay.*
!plugins/Vs.d.*
demo/audio/*
demo/css

demo/effects
demo/icon
demo/fonts
demo/img/*
demo/js/libs
!demo/data/VsLayeredDisplayConfig.schema.json
!demo/data/VsLayeredDisplay.json
demo/js/rmmz_*
!demo/img/pictures/
demo/js/main.js
demo/package.json
demo/save/config.rmmzsave
demo/save/file0.rmmzsave
demo/save/global.rmmzsave
